In [9]:
import json
import requests
import pandas as pd
import datetime
import mysql.connector
import sqlalchemy as sa
import numpy as np
from sqlalchemy import create_engine

In [2]:
date_info = {       '5m':{'freq':'3D','step':300},
                    '15m':{'freq':'9D', 'step':900},
                    '1h':{'freq':'1M', 'step':3600},
                    '4h':{'freq':'4M', 'step':14400},
                    '1d':{'freq':'1M', 'step':86400}        }

def get_candles(date_info,time_frame):

    currency_pair = 'btcusd'
    url = f"https://www.bitstamp.net/api/v2/ohlc/{currency_pair}/"
    engine = create_engine("mysql+pymysql://{user}:{pw}@localhost:{port}/{db}".format(user="root", pw="root",port=3306,db='btcusd'))

    if sa.inspect(engine).has_table(f'{time_frame}-candles') == False:
        start = '2012-12-30'
        end = datetime.datetime.now()
        dates = pd.date_range(start,end,freq=date_info[time_frame]['freq'])
        dates = [ int(x.value/10**9) for x in list(dates)]
        master_data = []
        for first,last in zip(dates[:100],dates[1:101]):
            params ={'step':date_info[time_frame]['step'],'limit':1000,'start':first,'end':last}
            data = requests.get(url,params=params)
            data = data.json()['data']['ohlc']
            master_data += data

        df = pd.DataFrame(master_data)
        df = df.drop_duplicates()
        df['timestamp'] = df['timestamp'].astype(int)
        df = df.sort_values(by='timestamp')
        df = df[ df['timestamp'] >= dates[0] ]
        df = df[ df['timestamp'] < dates[-1] ]
        df['date'] = pd.to_datetime(df['timestamp'],unit='s')
        df = df.drop(columns=['timestamp','volume'])
        df = df.set_index('date')
        df.to_sql(f'{time_frame}-candles',con=engine,if_exists='append',index=True)
        print(f'wrote {time_frame} candles on db for the first time')

    elif sa.inspect(engine).has_table(f'{time_frame}-candles') == True:
        sql = pd.read_sql_table(f'{time_frame}-candles',engine)
        df = pd.DataFrame(sql)
        start = max(df['date'])
        end = datetime.datetime.now()
        dates = pd.date_range(start,end,freq=date_info[time_frame]['freq'])
        dates = [ int(x.value/10**9) for x in list(dates)]
        master_data = []
        for first,last in zip(dates[:100],dates[1:101]):
            params ={'step':date_info[time_frame]['step'],'limit':1000,'start':first,'end':last}
            data = requests.get(url,params=params)
            data = data.json()['data']['ohlc']
            master_data += data

        df = pd.DataFrame(master_data)
        df = df.drop_duplicates()
        df['timestamp'] = df['timestamp'].astype(int)
        df = df.sort_values(by='timestamp')
        df = df[ df['timestamp'] >= dates[0] ]
        df = df[ df['timestamp'] < dates[-1] ]
        df['date'] = pd.to_datetime(df['timestamp'],unit='s')
        df = df.drop(columns=['timestamp','volume'])
        df = df.set_index('date')
        df.to_sql(f'{time_frame}-candles',con=engine,if_exists='append',index=True)
        print(f'continue writing {time_frame} candles  from {start}')

In [26]:
time_frames = ['4h','1d']
for time_frame in time_frames:
    try:
        for i in range(10):
            get_candles(date_info,time_frame)
    except KeyError:
        continue

wrote 1d candels on db for the first time
continue writing 1d candels  from 2021-04-30 00:00:00

In [27]:
engine = create_engine("mysql+pymysql://{user}:{pw}@localhost:{port}/{db}".format(user="root", pw="root",port=3306,db='btcusd'))
sql = pd.read_sql_table('4h-candles',engine)
df = pd.DataFrame(sql)
df

                     date  close   high    low   open
0     2012-12-31 00:00:00   13.2   13.2  13.18   13.2
1     2012-12-31 04:00:00  13.18   13.2  13.18   13.2
2     2012-12-31 08:00:00  13.27  13.27  13.14   13.2
3     2012-12-31 12:00:00  13.23  13.28  13.11  13.27
4     2012-12-31 16:00:00  13.24  13.29  13.05  13.22
...                   ...    ...    ...    ...    ...
24097 2023-12-30 04:00:00  41948  42146  41935  41972
24098 2023-12-30 08:00:00  41892  41986  41529  41939
24099 2023-12-30 12:00:00  42370  42420  41888  41905
24100 2023-12-30 16:00:00  42358  42599  42258  42373
24101 2023-12-30 20:00:00  42148  42401  42094  42356

[24102 rows x 5 columns]

In [28]:
df = df.drop_duplicates()
df

                     date  close   high    low   open
0     2012-12-31 00:00:00   13.2   13.2  13.18   13.2
1     2012-12-31 04:00:00  13.18   13.2  13.18   13.2
2     2012-12-31 08:00:00  13.27  13.27  13.14   13.2
3     2012-12-31 12:00:00  13.23  13.28  13.11  13.27
4     2012-12-31 16:00:00  13.24  13.29  13.05  13.22
...                   ...    ...    ...    ...    ...
24097 2023-12-30 04:00:00  41948  42146  41935  41972
24098 2023-12-30 08:00:00  41892  41986  41529  41939
24099 2023-12-30 12:00:00  42370  42420  41888  41905
24100 2023-12-30 16:00:00  42358  42599  42258  42373
24101 2023-12-30 20:00:00  42148  42401  42094  42356

[24102 rows x 5 columns]

In [25]:
df.to_sql('4h-candles',con=engine,if_exists='append',index=False)

97152